target
.settings
.classpath
src/main/java/com/project/info_abroad/util
*.class
*.properties
*.jar
.project
.springBeans
.factorypath





# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json